.container{
    width: 90%;
    margin: auto;
    top: 0;
    position: relative;
}
#overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(16, 20, 113, 0.9);
  transition: opacity 0,5s;
  z-index: 2;
  cursor: pointer;
}
.navbar{
    display: flex;
    width: 90%;
    height: 100px;
    justify-content: ;
    background: white;
    top: 0px;
    position: fixed;
}
.navbar-mobile{
    
}
.logo{
    margin-top: 20px;
}
.logo img{
    height: 40px;
}
.search{
    width: calc(100% / 3*2);
    height: 70px;
    margin-top: 20px;
    border: 10px;
}
.searchbox{
    width: 90%;
    height: 35px;
    margin-left: 40px;
    border-radius: 20px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    position: relative;
}
.searchbox-text{
    width: 90%;
    height: 35px;
    margin-left: 40px;
    border-radius: 20px;
    border-color: #C2C2C2;
    border-style: solid;
    border-width: 1px;
    position: relative;
    text-align: left;
}
.iconsearch img{
    position: absolute;
    right: 70px;
    top: 5px;
}
.suggestion{
    margin-left: 85px;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    position: relative;
}
.suggestion p{
    color: #44454F;
    font-size: small;
    position: relative;

}
.suggestion li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    font-size: smaller;
}
.cart{
    width: 100%/12*4;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.notif{
    width: 100%/12*4;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.voucher{
    width: 100%/12*4;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
}
.photo-profile{
    margin-top: 30px;
    display: flex;
    cursor: pointer;
}

.fullname{
    font-family: sans-serif;
    padding: 10px 10px;
    font-weight:bold;
    cursor: pointer;
}
.home-banner{
    margin-top: 110px;
}
.home-banner img{
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.higlight-banner{
    display: flex;
    margin-top: 20px;
}
.highlight-banner-left{
    width: calc(100%/3*1);
}
.highlight-banner-right{
    width: calc(100%/3*2);
}
.highlight-banner-left img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    margin-left: -5px;
}
.highlight-banner-right img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.newproduct-tittle{
    color: #101572;
    font-family: sans-serif;
    font-size: x-large;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.newproduct-card{
    display: flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.newproduct-card .product1{
    width: calc(100%/6*1);
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.newproduct-card .product2{
    width: calc(100%/6*1);
    margin-left: 20px;
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.newproduct-card .product3{
    width: calc(100%/6*1);
    margin-left: 20px;
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.newproduct-card .product4{
    width: calc(100%/6*1);
    margin-left: 20px;
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.newproduct-card .product5{
    width: calc(100%/6*1);
    margin-left: 20px;
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.newproduct-card .product6{
    width: calc(100%/6*1);
    margin-left: 20px;
    height: 400px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.description-card{
    width: 90%;
    margin: auto;
}
.newproduct-card .product-name h3{
    font-family: sans-serif;
}
.price{
    display: flex;
}
.sell-price{
    font-family: sans-serif;
    color: red;
    font-size: larger;
    font-weight: bold;
}
.before-price{
    font-family: sans-serif;
    color: #B3B3B3;
    font-size: small;
    text-decoration: line-through;
    margin-left: 10px;
}

.recomendation-product-card{
    display: flex;
    margin-bottom: 20px;
}
.recomendation-product-card .product1{
    width: calc(100%/3*1);
    height: 430px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.recomendation-product-card .product2{
    width: calc(100%/3*1);
    height: 430px;
    margin-left: 20px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.recomendation-product-card .product3{
    width: calc(100%/3*1);
    height: 430px;
    margin-left: 20px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.recomendation-product-card .product-name h3{
    font-family: sans-serif;
}
.rejekinomplok-banner{
    margin-top: 40px;
}
.category{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.strengts{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.strengts-card{
    width: calc(100%/7*1);
    text-align: center;
    padding: 10px;
    border-style:none;
    border-radius: 20px;
    box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-webkit-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
-moz-box-shadow: -1px 22px 97px -51px rgba(212,212,212,0.81);
}
.strengts-card image{
    image-orientation: flip;
    height: 100px;
}
.strengts1 .strengts-name h3{
    font-family: sans-serif;
    font-size: larger;
}
.strengts1  p{
    font-family: sans-serif;
    font-size:small;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width : 420px) {
    .container{
        width: 90%;
        top: 0;
        right: 0;
        height: 1080px;
    }
    .navbar{
        width: 100%;
        left: 0px;
        justify-content: center;
    }
    .logo img{
        height: 35px;
    }
    .searchbox{
        width: 235x;
        height: 30px;
        margin-left: 10px;
        border-radius: 20px;
        border-color: transparent;
        border-style: solid;
        border-width: 1px;
        position: relative;
    }
    .searchbox-text{
        width: 235x;
        height: 30px;
        margin-left: 10px;
        border-radius: 20px;
        border-color: #C2C2C2;
        border-style: solid;
        border-width: 1px;
        position: relative;
        text-align: left;
    }
    .iconsearch img{
        position: absolute;
        right: 15px;
        top: 5px;
    }
    .cart{
        display: none;
    }
    .notif{
        display: none;
    }
    .voucher{
        display: none;
    }
    .photo-profile{
        display: none;
    }
    
    .fullname{
        display: none;
    }
    .suggestion{
        margin-left: -120px;
        display: flex;
        font-family: sans-serif;
        align-items: center;
    }
    .suggestion p{
        color: #44454F;
        font-size: small;
    }
    .suggestion li {
        display: inline;
        margin-right: 10px;
        cursor: pointer;
        color: black;
        font-size: smaller;
    }
    .home-banner img{
        width: 100%;
        margin-top: 10px;
        cursor: pointer;
    }
    .higlight-banner{
        display: flex;
        margin-top: 10px;
    }
    .navbar-mobile{
        display: flex;
        position: fixed;
        background: #FFFFFF;
        bottom: 0px;
        left: 0;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        align-items: center;
        box-shadow: -2px -11px 28px -12px rgba(145,145,145,1);
        -webkit-box-shadow: -2px -11px 28px -12px rgba(145,145,145,1);
        -moz-box-shadow: -2px -11px 28px -12px rgba(145,145,145,1);
    }
    .navbar-mobile .cart-mobile{
        width: 100%/4*1;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-mobile .notif-mobile{
        width: 100%/4*1;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-mobile .voucher-mobile{
        width: 100%/4*1;
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-mobile .photo-profile-mobile{
        width: 100%/4*1;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
